// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #001B40;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rose: #FAC8A3;
$lightrose: #F5E4CC;
$darkrose: #CC7557;
$brightblue: #2892A4;
